.landingPage {
    background-image: url(pixaby6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    right: 100%;
    margin-bottom: 5%;
}

.aboutAkanNameGenerate {
    border-radius: 10px;
    background-color: rgba(255, 192, 203, 0.6);
    width: 40%;
    margin-left: 10%;
    /* border-top: 20%; */
    position: absolute;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.aboutAkanNameGenerate h5 {
    color: plum;
    text-shadow: black;
}

h1 {
    color: plum;
    text-shadow: black;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    font-family: 'Courier New', Courier, monospace;
}